
// --------HEADER--------------------------------------

.container-wide{
    max-width: 1790px;
    padding: 0px 15px;
    margin:0px auto;
}

.header {
    padding-top: 64px;
    padding-bottom:843px;
        .nav__wrapper{
            margin-bottom: 198px;
        }
		&__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}
		&__logo {
            font-family: Playfair Display;
            font-weight: 700;
            font-size: 32px;
		}
		&__nav {
            ul{
                margin: 0;
                padding: 0;
                display: flex;
            }
            li{
                transition: 0.2s ease-in;
                &:hover{
                    color: #FBD784;
                    position: relative;
                    top: -1px;
                }
                &:not(:last-child){
                    margin-right: 40px;
                }
            }
            a{
                color:inherit;
                font-weight: bold;
                font-size: 18px;
            }
		}
		&__login {
            padding-left: 32px;
            position: relative;
            a{
                font-size: 17px;
                font-weight: 700;
                color: inherit;
                transition: 0.2s ease-in;
                &:hover{
                    color: #FBD784;
                }
            }
            &::before {
            content:"";
            display: block;
            position: absolute;
            left: 0;
            top:0;
            background-image: url(/image/Icons/pplIcon.svg);
            z-index: 10;
            width: 24px;
            height: 24px;
            }
		}
}

// HEADER--HERO--------------------------------------
.hero {
    display: block;
    max-width: 980px;
    padding: 0px 15px;
    margin: 0 auto;
    transition: 0.33s cubic-bezier(1.000, 0.540, 0.570, 1.650); 
    &:hover{
        transform: translateY(-5%);
    }
    &__cateogory {
        position: relative;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.222;
        color:#FBD784;
        padding-left: 104px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 32px;
        
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 72px;
            height: 2px;
            background-color: #FBD784;
            display: block;
        }
    }
    &__title {
        color: white;
        font-family: 'Playfair Display';
        font-weight: 500;
        font-size: 87px;
        line-height: 114%; 
        text-transform: capitalize;
        margin-bottom: 32px;
    }
    &__scroll {
        color: white;
        display: inline-block;
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.222;
        padding-right: 32px;

        &::after{
            content:"";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(/image/Icons/arrow.svg);
            z-index: 10;
            width: 16px;
            height: 24px;
        }
    }
}

// Content

.main {
    &__container {
        max-width: 1492px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    &__content {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:nth-child(even){
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
.content {
    &__text {       
    position: relative;
    padding-left: 150px;
    margin-top: 140px;
    &::before{
        content:attr(data-number);
        display: block;
        font-weight: 700;
        width: 400px;
        height: 400px;
        position: absolute;
        font-size: 240px;
        line-height: 100%;
        color: #FFFFFF;
        opacity: 0.2;
        top: -103px;
        left: 0;
}

    }
    &__subtitle {
        position: relative;
        padding-left: 96px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22 / 18;
        /* identical to box height */
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 27px;
        color: #FBD784;
        &::before{
            content: "";            
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 72px;
            height: 2px;
            background-color: #FBD784;
            display: block;
        }
    }
    &__title {
        max-width: 555px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 27px;
    }
    &__info {
        width: 682px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 178%;
        color: #FFFFFF;
        margin-bottom: 27px;
    }
    &__link {
        position: relative;
        display: inline-block;
        a{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.222;
        padding-right: 32px;
        color: #FBD784;
        }
        &::after{
            content:"";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(/image/Icons/arrow_Orizont.svg);
            z-index: 10;
            width: 24px;
            height: 16px;
        }
    }
    &__img {
        margin-bottom: 200px;
    }
}
















// --FOOTER--------------------------------------



.footer {
    &_copyright {
    }
    &_description {
    }
    &__container {
    }
    &__row {
    }
    &__logo {
    }
    &__copy {
    }
    &__nav {
    }
    &__list {
    }
    &__item {
    }
}
.footer-nav {
    &__wrapper {
    }
}
.fnav {
    &__title {
    }
}

